<div class="main">
    <div class="hero-block">
        <div class="hero-header">Happy Birthday<br>My Love!</div>
        <div class="hero-text">To congratulate you on your birthday I made this website to highlight everything I love about you</div>
        <a routerLink="/timeline" routerLinkActive="active">
            <div class="timeline-button">
                Go To Timeline<i class="arrow right"></i>
            </div>
        </a>
    </div>
        <div class="img">
        <img src="/assets/hero.jpg" class="hero">
    </div>
</div>