$primaryColor: #d63384 !default;
$primaryLightColor: scale-color($primaryColor, $lightness: 60%) !default;
$primaryDarkColor: scale-color($primaryColor, $lightness: -10%) !default;
$primaryDarkerColor: scale-color($primaryColor, $lightness: -20%) !default;
$primaryTextColor: #ffffff !default;
$primaryAccentBg: #f7d6e6 !default;

$highlightBg: $primaryColor !default;
$highlightTextColor: $primaryTextColor !default;
$highlightFocusBg: darken($primaryColor, 8%) !default;

@import '../_variables';
@import '../../theme-base/_components';
@import '../../_extensions';
@import '../../extensions/_fullcalendar';