<div class="header">
    <div class="logo">
        <a routerLink="/homepage" routerLinkActive="active">
            <img src="/assets/demo.png" class="logo-img">
        </a>
    </div>
    <ul class="navbar-elements">
        <li>
            <a routerLink="/homepage" routerLinkActive="active">
                Home
            </a>
        </li>
        <li>
            <a routerLink="/timeline" routerLinkActive="active">
                Timeline
            </a>
        </li>
        <li>
            <a routerLink="/gallery" routerLinkActive="active">
                Gallery
            </a>
        </li>
        <li>
            <a routerLink="/about-us" routerLinkActive="active">
                About Us
            </a>
        </li>
        <li>
            <a  routerLink="/for-you" routerLinkActive="active">
                For you
            </a>
        </li>
    </ul>
</div>